<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Home - Snippetbox</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
  </head>
  <body>
    <header>
      <h1><a href='/'>Snippetbox</a></h1>
    </header>
    <nav>
      <a href='/'>Home</a>
    </nav>
    <main>
        <div class='snippet'>
          <div class='metadata'>
            <strong>{{.snippet.Title}}</strong>
            <span>#{{.snippet.ID}}</span>
          </div>
          <pre><code>{{.snippet.Content}}</code></pre>
          <div class='metadata'>
            <time>Created: {{.snippet.FormatCreatedDate}}</time>
            <time>Expires: {{.snippet.FormatExpiresDate}}</time>
          </div>
        </div>
    </main>
    {{template "footer" .}}
    <script src="/js/main.js" type="text/javascript"></script>
  </body>
</html>
